@import "../../node_modules/bootstrap/scss/bootstrap";

$primary : #0433BF;
$secondary : #434A59;
$danger : #BF1744;
$success : #198754;
$light : #A7C8F2;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "danger":     $danger,
  "light":      $light,
);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.coverpicture{
  position: absolute;
  img{
    background-size: cover;
    top: -100px;
  }
}

.section{
  background-color: #D92D2D;
}

